@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway:wght@200&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    margin-right: 30px;
    padding: 10px;
    color: var(--black);
}
:root {
    --black: #565454;
    --toast: #a26d5e;
    --softpeach: #ebdede;
    --sand: #d5aa9e;
  }

#given-exercise {
    list-style-type: none;
    border: 2px solid #565454;
}
.home {
    background-image: url(./images/chalkhands.jpg);
    background-position: center;
    opacity: 50%;
    background-size: cover;
    width: 102vw;
    height: 110vh;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: -10vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }

h2 {
    font-size: 80px;
}

.nav {
    padding: 10px;
    font-size: 50px;
}

.nav#build-workout {
    position: fixed;
    bottom: 248px;
    left: 64%;
    transform: translateX(-160%);
  }

.nav#see-saved-workouts {
    position: fixed;
    bottom: 248px;
    left: 70%;
    transform: translateX(-40%);
}
#printedworkout {
    display: none;
}

#saved-section {
    display: none;
}
a {
    text-decoration: none;
    color: var(--softpeach);
    text-align: center;
    height: 100px;
    }
p {
    font-size: 40px;
}
header h1 {
    font-size: 150px;
    margin-left: 10vw;
    margin-right: 10vw;
    color: var(--softpeach);
    text-shadow: var(--sand) 5px 6px 5px;
    
}

#exerciseToday {
    background-color: var(--softpeach);
    color: #565454;
}

#add-button {
    background-color: var(--softpeach);
    font-size: 50px;
    color: var(--sand);
    border: solid var(--softpeach) 2px;
}

#titleInput {
    background-color: var(--softpeach);
    color: #565454;
    border: none;

}
#saveTitleBtn {
    background-color: var(--softpeach);
    font-size: 50px;
    color: var(--sand);
    border: solid var(--softpeach) 2px;
}
#input {
    background-color: var(--softpeach);
    color: #565454;
    font-size: 40px;
}
form label {
    line-height: 2;
    font-weight: bold;
}

#workout-date {
    font-style: italic;
}


.card {
    padding: 20px;
    margin: 20px;
    background-color: var(--sand);
    box-shadow: 10px 10px var(--softpeach);
    font-size: 50px;
    color: var(--softpeach);
    border: solid var(--sand) 2px;
    width: 100%;
}

#editTitle {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

html {
    scroll-behavior: smooth;
}


.button-options-section {
    display: flex;
    flex-direction: column;
}

.saved-card {
    line-height: 1;
    border: 5px solid #a26d5e;
}

.hover-effect {
    transition: transform 0.3s ease;
}
.hover-effect:hover {
    /* increase size by 10% */
    transform: scale(1.05);
}

.alert {
    cursor: move;
}
button {
   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: center;
}

@media only screen and (min-width: 1024px) {
    /* Styles for desktop */
    header {
        background-position: right;
        max-width: 150%;
    }
    header h2 {
        padding-top: 49%;
    }

    header h1 {
        line-height: .5;
    }
  }